# ==========================================
# Database Configuration
# ==========================================

# Supported types: 'mysql', 'sqlite' (default)
DB_TYPE=sqlite
# For MySQL: mysql://user:password@host:port/database
# For SQLite: file:./storage/database/geemc.db
DATABASE_URL=file:./storage/database/geemc.db

# ==========================================
# Gee ID OAuth
# ==========================================
NUXT_PUBLIC_SITE_URL=http://localhost:3000
NUXT_GEE_ID_OAUTH_CLIENT_ID=
NUXT_GEE_ID_OAUTH_CLIENT_SECRET=
